body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#8052EC,#D161FF);
}
.calculator {
    width: 400px;
    margin: auto;
    /* border: 1px solid #ccc; */
    padding: 50px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    border-radius: 2px;
    background-color:none;
  
}
.calculator input[type="text"] {
    width: 308px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: auto;
    
}


.calculator button {
    width: 70px;
    height: 70px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color:gray;
    color: #fff;
}
.calculator button:hover {
    background-color:rgb(44, 42, 42);
}
.calculator button:nth-child(2) {
    background-color:rgb(23, 19, 19);
}
.calculator button:nth-child(2):hover {
    background-color:grey;
}
/* .footer span{
   text-color:blue;
} */